---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import DateComponent from '@/components/Date.astro';
import { readingTime } from '@/utils';
import Back from '@/components/Back.astro';

export async function getStaticPaths() {
  const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort(
      (a, b) =>
        new Date(b.data.date as string).valueOf() -
        new Date(a.data.date).valueOf()
    );

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <Container>
    <div class='animate'>
      <Back href='/blog'> Back to blog </Back>
    </div>
    <div class='space-y-1 my-10'>
      <div class='animate flex items-center gap-1.5'>
        <div class='font-base text-sm'>
          <DateComponent date={new Date(post.data.date)} />
        </div>
        &bull;
        <div class='font-base text-sm'>
          {readingTime(post.body)}
        </div>
      </div>
      <div class='animate text-2xl font-semibold text-black dark:text-white'>
        {post.data.title}
      </div>
    </div>
    <article class='animate'>
      <Content />
    </article>
  </Container>
</Layout>
