---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import NavCard from '@/components/NavCard.astro';
import { BLOG } from '@/config';
import { ghost } from '@/lib/ghost';
import type { PostOrPage } from '@tryghost/content-api';

const data = await ghost.posts.browse({
  limit: 'all',
  order: 'published_at DESC',
  filter: 'tag:blog',
  include: 'tags'
});

type Acc = Record<string, PostOrPage[]>;

const posts = data.reduce((acc: Acc, post) => {
  const year = new Date(post.published_at!).getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class='space-y-10'>
      <div class='animate font-semibold text-black dark:text-white'>Blog</div>
      <div class='space-y-4'>
        {
          years.map((year) => (
            <section class='animate space-y-4'>
              <div class='font-semibold text-black dark:text-white'>{year}</div>
              <div>
                <ul class='flex flex-col gap-4'>
                  {posts[year].map((post) => (
                    <li>
                      <NavCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
